.workout {
  display: grid;
  width: fit-content;
}
.workout_header {
  box-sizing: border-box;
  padding: 20px;
  width: fit-content;
  border: 2px solid black;
  display: flex;
  gap: 20px;
}

.workout_body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  display: inline-block;
  border: 2px solid black;
}

.exercise_number {
  display: inline-block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.workout_body_header {
  margin-bottom: 1.5rem;
}

.workout_body_main {
  box-sizing: border-box;
  padding: 0;
  margin: 20px;
  margin-left: 1rem;
}

.workout_body_end {
  text-align: center;
}

.hidden {
  opacity: 0%;
  width: 0;
  height: 0;
}

.set {
  margin-bottom: 20px;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.switch {
  float: right;
}


/************for home page **********/

#title{
  background-color: #BBE1FA;
}

#workout-features{
  background-color: #3282B8;
}

#meal-features{
  background-color:#BBE1FA ;
}

#footer{
  text-align: center;
  margin-top: 5rem;
}

.title-image{
  max-width: 100%;
  height: auto;
  padding: 0 2rem 2rem 0
}

.workout-image{
  max-width: 100%;
  height: auto;
  padding: 2rem 0 2rem 2rem
}

.meal-image{
  max-width: 100%;
  height: auto;
  padding: 2rem 2rem 2rem 0;
}

.foot-icon{
  margin: 0.5rem;
}

.navi-bar{
  margin-bottom: 3rem;
}

.main-title{
  font-family: 'Dosis', sans-serif;
  margin-left: 2.5rem;
  padding-right: 15rem;
  font-size: 4rem;
}