.workout {
  box-sizing: border-box;
  display: grid;
  width: fit-content;
  margin: 10px;
}
.workout_header {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
  width: fit-content;
  border: 2px solid black;
  display: flex;
  gap: 20px;
}

.workout_body {
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 10px;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
}

.exercise_number {
  display: inline-block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

.workout_body_header {
  box-sizing: border-box;
  margin: 10px;
}

.workout_body_main {
  box-sizing: border-box;
  padding: 0;
  margin: 20px;
  margin-left: 1rem;
}

.workout_body_end {
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
}

.hidden {
  opacity: 0%;
  width: 0;
  height: 0;
  display: none;
}

.set {
  margin: 10px;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.switch {
  float: right;
}

.btn{
  margin: 5px;
}

.form-control{
  display: inline;
}

/************for home page **********/

#title {
  background-color: #bbe1fa;
}

#workout-features {
  background-color: #3282b8;
}

#meal-features {
  background-color: #bbe1fa;
}

#footer {
  text-align: center;
  margin-top: 5rem;
}

.title-image {
  max-width: 100%;
  height: auto;
  padding: 0 2rem 2rem 0;
}

.workout-image {
  max-width: 100%;
  height: auto;
  padding: 2rem 0 2rem 2rem;
}

.meal-image {
  max-width: 100%;
  height: auto;
  padding: 2rem 2rem 2rem 0;
}

.foot-icon {
  margin: 0.5rem;
}

.navi-bar {
  margin-bottom: 3rem;
}

.main-title {
  font-family: "Dosis", sans-serif;
  margin-left: 2.5rem;
  padding-right: 15rem;
  font-size: 4rem;
}

/* for meal page */

.mealDiv{
  margin-top: 50px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(3, 8, 15);
  border-radius: 0.35rem;
}
.mealName{
  
}