body {
  background: #779292;
  background: -moz-linear-gradient(left, #779292 0%, #394646 31%, #1a2020 100%);
  background: -webkit-linear-gradient(
    left,
    #779292 0%,
    #394646 31%,
    #1a2020 100%
  );
  background: linear-gradient(to right, #779292 0%, #394646 31%, #1a2020 100%);
}

.modal-content {
  background: #afd7d7;
  background: -moz-linear-gradient(left, #afd7d7 0%, #91b3b3 31%, #586c6c 100%);
  background: -webkit-linear-gradient(
    left,
    #afd7d7 0%,
    #91b3b3 31%,
    #586c6c 100%
  );
  background: linear-gradient(to right, #afd7d7 0%, #91b3b3 31%, #586c6c 100%);
}

.imgDiv{
  text-align: center;
  padding-top: 100px;
}

.allPlan {
  text-align: center;
}
.allPlansContainer {
  padding: 0 20rem 0 20rem;
}

.navi-bar {
  margin-bottom: 3rem;
}

.mealDiv {
  margin: 25px 0 25px 0;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(3, 8, 15);
  border-radius: 0.35rem;
}

.planDataBody {
  padding: 0;
  border: 1px black solid;
  border-radius: 0.5rem;
}

.desTitle {
  text-align: center;
  position: relative;
}

.planData {
  margin: 35px 0 0 0;
}

.dayName {
  font-weight: 600;
}

.mealData {
  border-radius: 0.5rem 0.5rem 0 0;
}

.mealData:nth-of-type(odd) {
  background-color: rgb(90, 107, 105);
}
.mealData:nth-of-type(even) {
  background-color: rgb(164, 182, 180);
}

.mealData:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
.mealData:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}

.planDataHeader {
  border: 1px black solid;
  border-radius: 0.2rem;
  color: white;
}
.window {
  padding: 0 5rem 0 5rem;
}

.containerW {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.centerW {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mealDataName {
  text-align: center;
  padding: 10px 0 10px 0;
}

.header {
  /* font-family: 'Josefin Sans', sans-serif;
    font-family: 'Merriweather', serif; */
  text-align: center;
  font-size: 300%;
  color: rgb(201, 201, 201);
}

.openBtnDiv {
  text-align: center;
  margin-left: 1rem;
  position: relative;
}
.openBtnDivAfter {
  text-align: center;
  margin-left: 1rem;
  position: relative;
}

.addPlanCircle {
  font-size: 60px;
}

.addDishCircle {
  font-size: 35px;
}

.dishContainer {
  padding-top: 15px;
}

.modalHeaderMacro {
  text-align: right;
}

#dishMacroMenu {
  padding: 0;
  margin: 0;
}

.iconBtn {
  background-color: transparent;
  border: transparent;
  width: fit-content;
}

.whiteIconBtn {
  background-color: transparent;
  border: transparent;
  color: white;
  margin-top: 12px;
  width: fit-content;
}

#collapseDes {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(3, 8, 15);
  border-radius: 0.35rem;
}

.welcome {
  text-align: center;
}

.searchFood {
  background-color: #0d6efd;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}
