body{    
    background: #1A2020;
    background: -moz-radial-gradient(center, #1A2020 0%, #394646 50%, #779292 100%);
    background: -webkit-radial-gradient(center, #1A2020 0%, #394646 50%, #779292 100%);
    background: radial-gradient(ellipse at center, #1A2020 0%, #394646 50%, #779292 100%);
}

h1{
    color:white;
}